
            <header class="head" role="banner">
            <%= image_tag("worldgrub.jpg")%>

            </header><!-- end header -->

        <div id="main-container" class="container">
            <sdiv class="row">
                <div class="col-md-8" class="font-mega">

                <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Type a ingredient:</h3>
            </div>
            <div class="panel-body">
              <%= bootstrap_form_for :recipe, url: "/recipes/chinese", :method => :get, html: {class: "recipe_form"} do |f| %>
                              <%= f.text_field :ingredients, class: "ingredient-list-text", id: "ingredient-list", size: "80", :readonly => false  %>
                              <div class="col-md-3">
                              <%= f.radio_button :region, "african" %> African<br />
                              <%= f.radio_button :region, "japanese" %> Japanese<br />
                              </div>
                              <div class="col-md-3">
                              <%= f.radio_button :region, "chinese" %> Chinese<br />
                              <%= f.radio_button :region, "indian" %> Indian<br />
                              </div>
                              <div class="col-md-3">
                              <%= f.radio_button :region, "french" %> French<br />
                              <%= f.radio_button :region, "italian" %> Italian<br />
                              </div>
                              <div class="col-md-3">
                              <%= f.radio_button :region, "mexican" %> Mexican<br />
                              <%= f.radio_button :region, "greek" %> Greek<br />
                              </div>
            </div>
          </div>

                </div>
                <div class="col-md-4">
                <%= f.submit "Submit" %>
                <% end %>

                <div class="page-header">
        <h1>My Regions</h1>
      </div>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag("korea.jpg")%>
          </div>
          <div class="item">
            <%= image_tag("africa.jpg")%>
          </div>
          <div class="item">
            <%= image_tag("mexico.jpg")%>
          </div>
          <div class="item">
            <%= image_tag("france.jpg")%>
          </div>
          <div class="item">
            <%= image_tag("spain.jpg")%>
          </div>

        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

            </div>

            </div>
        </div><!--end wrap -->