
            <!--images are 1024 x 768-->
            <header class="head" role="banner">
                <a href="" class="logo">
                <img src="assets/worldgrub.png" alt="World Grub">

                </a>

            </header><!-- end header -->

        <div id="main-container" class="container">
            <sdiv class="row">
                <div class="col-md-8" >


                            <%= bootstrap_form_for :recipe, url: "/recipes/chinese", :method => :get, html: {class: "recipe_form"} do |f| %>
                              <%= f.text_field :ingredients, class: "ingredient-list-text", id: "ingredient-list", size: "80", :readonly => false  %>
                              <div class="col-md-3">
                              <%= f.radio_button :region, "african" %> African<br />
                              <%= f.radio_button :region, "japanese" %> Japanese<br />
                              </div>
                              <div class="col-md-3">
                              <%= f.radio_button :region, "chinese" %> Chinese<br />
                              <%= f.radio_button :region, "indian" %> Indian<br />
                              </div>
                              <div class="col-md-3">
                              <%= f.radio_button :region, "french" %> French<br />
                              <%= f.radio_button :region, "italian" %> Italian<br />
                              </div>
                              <div class="col-md-3">
                              <%= f.radio_button :region, "mexican" %> Mexican<br />
                              <%= f.radio_button :region, "greek" %> Greek<br />
                              </div>

                </div>

            <div class="col-md-4">
                <h3></h3>
                <%= f.submit "Submit" %>
                <% end %>
            </div>

            </div>

        </div><!--end wrap -->



